<html>
	<head>
		<script src="scripts/lib/jquery-1.9.1.min.js"></script>
		<script src="scripts/slider.js"></script>
		<link rel="stylesheet" href="style/main.css"/>
	</head>
	<body>
		<div id='top'>
			<% include headMenu.html %>
		</div>
			<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="images/caterpillar.jpg"/>
				<img class="sp" src="images/maquina2.jpg"/>
				<img class="sp" src="images/maquinas.jpg"/>
				</div>
			</div>
		<div id='bottom'>
		<% include newsBar.html %>
		</div>
	</body>    
</html>