<html>
	<head>
		<script src="scripts/lib/jquery-1.9.1.min.js"></script>
		<script src="scripts/slider.js"></script>
		<link rel="stylesheet" href="style/main.css"/>
	</head>
	<body>
		<div id='top'>
			<% include headMenu.html %>
		</div>
			<div id="content">
				<div class='text'>
					<div id='left'>
						<h3>Português</h3>
						<p>
						A MAQMAN é uma empresa de direito angolano, no âmbito dos seus Estatutos,fundada em Outubro de 2010, tendo uma forma de sociedade comercial por quotas, de responsabilidade limitada.
						</p>
						<p> 
						A nossa MISSÃO é fornecer soluções para a movimentação de cargas e pessoas bem como equipamento para apoiar as actividades industriais, com especial incidência nos sectores da Distribuição, Construção Civil e Obras Públicas, cuja qualidade e garantia acrescentem valor aos projectos em que intervém.
						</p>
					</div>
					<div class='separator'></div>
					<div id='right'>
						<h3>English</h3>
						<p>
						MAQMAN is an Angolan company, founded on October 2010, having a form of Commercial Society by shares with limited liability. 
						</p>
						<p>
						Our MISSION is provide solutions for the handling of loads and people to support industrial activities, with a special focus in the areas of Distribution, Construction and Public/Estate works, adding quality, warranty and value to the projects.
						</p>

					</div>
				</div>
				<div id="slider">
					<div id="nav">
						<button id="previous">Previous</button>
						<button id="next">Next</button>
					</div>
					<div id="toShow">
						<img class="sp" src="images/caterpillar.jpg"/>
						<img class="sp" src="images/maquina2.jpg"/>
						<img class="sp" src="images/maquinas.jpg"/>
					</div>
				</div>
			</div>
		<div id='bottom'>
		<% include newsBar.html %>
		</div>
	</body>    
</html>
