table#contactTable th{
	padding-bottom: 5px;
	text-align: right;
}

table#contactTable th td{
	padding-bottom: 5px;
}

#miniMap{
	width: 400;
	height: 400;

}

#hor-show{
	display: -webkit-inline-box;
}