#headbar ul{
	list-style: none;
	margin: 10px;
	border-width: 18px;

}

#headbar ul li{
	display: inline;
	float: left;
	margin-right: 10px;
}

#headbar ul li a{
	border-radius: 10px 5px;
	border-style: solid;
	border-color: crimson;
	text-decoration: initial;
	background-color: firebrick;
	font-weight: bolder;
	color:floralwhite;
}


div#slider{
	display: inline-block;
	margin-top: 5px;
}

img.sp{
	max-width: 430px;
	position: absolute;
}
div#slider button{

}